:root {
  --primary-color: #80753d;
  --secondary-color: #aaa58d;
}

@font-face {
  font-family: nexaLight;
  src: url("/fonts/nexa-light.otf");
}

@font-face {
  font-family: nexaBold;
  src: url("/fonts/nexa-bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border: 1px solid var(--primary-color);
}

input {
  outline: none;
}

.main-container {
  width: 110rem;
  max-width: 90%;
  margin: 0 auto;
}

.section-heading {
  display: flex;
  font-size: 4.5rem;
}

.section-heading span:nth-child(1) {
  font-family: nexaLight;
  font-weight: 400;
}

.section-heading span:nth-child(2) {
  font-family: nexaBold;
  font-weight: 700;
  background: linear-gradient(90deg, var(--secondary-color) 0%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---------------------------------------- HEADER SECTION --------------------------------------------- */
#header {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 8rem;
  display: flex;
  align-items: center;
}

#header.fixed {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

#header .content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#header .company-logo {
  width: 15%;
}

#header nav {
  flex: 1;
  display: flex;
  align-items: center;
}

#header nav ul {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

#header nav a {
  font-size: 1.8rem;
  line-height: 150%;
  color: #000000;
}

#header nav a.active {
  color: var(--primary-color);
}

#header .demo-btn {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

#header .hamburger,
#header .cross-mark {
  position: absolute;
  right: 0;
  background-color: transparent;
  font-size: 3rem;
  display: none;
  border: none;
  color: var(--primary-color);
}

.section-description {
  font-size: 16px;
}

/* ----------------------------------------- HERO SECTION ---------------------------------------------- */
#hero {
  position: relative;
  padding: 20rem 0 10rem;
}

#hero .main-container {
  position: relative;
}

#hero .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero .heading {
  font-size: 7rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

#hero .description {
  max-width: 66rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#hero figure {
  position: relative;
}

#hero .hero-img {
  max-width: 80rem;
  margin: 0 auto;
}

#hero .bottom-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: none;
  outline: none;
}

#hero .bottom-btn img {
  width: 2.8rem;
}

#hero .green-circle {
  width: 7rem;
  height: 7rem;
  position: absolute;
  right: 9%;
  top: 23.5%;
}

#hero .blur-cirle-left {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: -4%;
  top: 18%;
}

#hero .blur-circle-right {
  width: 9rem;
  height: 9rem;
  position: absolute;
  right: -4%;
  bottom: 18%;
}

#hero .triangle-black {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 39%;
  left: 10%;
}

#hero .frame {
  width: 8rem;
  height: 2rem;
  position: absolute;
  right: 2%;
}

#hero .partial-circle {
  position: absolute;
  left: -2.3rem;
  bottom: 12%;
  border: 1.5rem solid transparent;
  border-radius: 50%;
  background: linear-gradient(to right, white, white),
    linear-gradient(to right, #80753d 7%, #000 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  width: 6rem;
  height: 6rem;
}

/* ----------------------------------------- TEAM SECTION ---------------------------------------------- */
#team {
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

#team .content-container {
  position: relative;
}

#team .heading {
  display: grid;
  margin-bottom: 4.5rem;
}

#team .description {
  max-width: 34rem;
  line-height: 150%;
  margin-bottom: 1rem;
}

#team .slider-container {
  width: 100%;
  position: relative;
  padding-bottom: 7rem;
}

.slides {
  display: flex;
  align-items: center;
  gap: 3rem;
  transition: 0.3s linear;
  margin-left: 32%;
}

#team .slide {
  position: relative;
}

#team .member-pic {
  border-radius: 9.17px;
  overflow: hidden;
}

#team .pic-1,
#team .pic-3 {
  width: 27rem;
  height: 35rem;
}

#team .pic-2 {
  width: 24rem;
  height: 50rem;
}

#team .pic-4 {
  width: 25rem;
  height: 44rem;
}

#team .member-name {
  color: #fff;
  font-family: nexaBold;
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%; /* 22.925px */
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
}

#team .slide-btns {
  position: absolute;
  bottom: 0;
  right: 10%;
  display: flex;
  gap: 1rem;
}

#team .slide-btns li button {
  width: 4rem;
  height: 4rem;
  font-size: 14px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#team .slide-btns li button.active {
  background-color: var(--primary-color);
  color: #ffffff;
}

#team .team-circles {
  position: absolute;
  top: -10%;
  right: -4%;
  z-index: -1;
  width: 110rem;
}

/* --------------------------------------- PRODUCTS SECTION -------------------------------------------- */
#products {
  padding: 6rem 0;
}

#products .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products .heading {
  gap: 1rem;
  margin-bottom: 5rem;
}

#products .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  padding: 1.4rem 5%;
  border-radius: 1.2rem;
  border: 1.55px solid var(--primary-color);
  box-shadow: 0px 4px 4rem 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 10rem;
}

#products .tab {
  font-family: nexaBold;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  width: 14rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#products .tab-active {
  color: #fff;
  border-radius: 2rem;
  background: var(--primary-color);
  box-shadow: 0px 4px 4rem 0px rgba(0, 0, 0, 0.12);
}

#products .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}

#products .card {
  border-radius: 0.8rem;
  background: var(--primary-color);
  box-shadow: 0px 4px 4rem 0px rgba(0, 0, 0, 0.12);
  padding: 1.8rem 1.5rem;
}

#products .card-photo {
  position: relative;
}

#products .card-photo .shadow {
  position: absolute;
  left: -3px;
  top: 0;
  width: 102%;
}

#products .card-description {
  color: #ffffff;
  font-family: nexaBold;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 0.5rem 0 1rem;
  margin-top: -1rem;
  position: relative;
  z-index: 2;
}

/* --------------------------------------- FEATURES SECTION -------------------------------------------- */
#features {
  padding: 6rem 0;
}

#features .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .heading {
  gap: 1rem;
  margin-bottom: 8rem;
}

#features .features-container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  width: 100rem;
  max-width: 90%;
}

#features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .feature-photo {
  width: 15rem;
  margin-bottom: 2.5rem;
}

#features .feature-heading {
  font-family: nexaBold;
  font-size: 2rem;
  font-weight: 700;
  line-height: 4.2rem; /* 42px */
}

#features .feature-description {
  text-align: center;
  color: #515151;
  font-size: 14px;
  font-weight: 400;
  line-height: 2rem;
}

/* --------------------------------------- CONTACT SECTION --------------------------------------------- */
#contact {
  padding-top: 8rem;
  padding-bottom: 12rem;
}

#contact .content-container {
  display: flex;
  position: relative;
}

#contact .left-side {
  flex: 50%;
  background: #000;
  position: relative;
  padding: 11rem 6rem;
}

#contact .right-side {
  flex: 50%;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18rem 6rem;
}

#contact h3 {
  font-family: nexaBold;
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  -webkit-text-fill-color: var(--primary-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.583);
}

#contact .left-side h3 {
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.582);
}

#contact p {
  color: #fff;
  font-size: 1.8rem;
  line-height: 3.3rem;
  max-width: 40rem;
  margin-bottom: 3.4rem;
}

#contact .right-side p {
  text-align: center;
}

#contact button {
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #48b74b;
  color: #ffffff;
  text-transform: uppercase;
}

#contact .triangle-white {
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: 15%;
  right: 13%;
}

#contact .logo-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 1rem solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#contact .logo {
  width: 13rem;
  height: 13rem;
  object-fit: contain;
}

/* ---------------------------------------- FOOTER SECTION --------------------------------------------- */
#footer {
  background: var(--primary-color);
  padding-top: 7rem;
  padding-bottom: 1.8rem;
}

#footer .content-container {
  display: grid;
  justify-items: center;
}

#footer .logo-circle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 3rem;
}

#footer .logo-circle img {
  width: 13rem;
  height: 13rem;
  object-fit: contain;
}

#footer .description {
  max-width: 60rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 170%; /* 30.6px */
  margin-bottom: 4rem;
}

#footer .bottom-container {
  border-top: 1px solid;
  padding-top: 1.6rem;
  min-width: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#footer .bottom-container > p {
  font-size: 14px;
  line-height: 130%; /* 19.5px */
  opacity: 0.4;
}

#footer .social-media {
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  opacity: 1;
}

#footer .social-media ul {
  display: flex;
  gap: 1.2rem;
}

#footer .social-media .icon {
  display: flex;
  align-items: center;
}

#footer .social-media .icon img {
  width: 3rem;
  height: 3rem;
}

#footer nav {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  font-size: 2rem;
}

#footer nav a {
  color: #000;
  font-size: 14px;
  line-height: 130%; /* 18.2px */
  opacity: 0.7;
}

/* ---------------------- Textual Animations & Others --------------------- */
.animated-text.hidden {
  transform: translateY(14%);
  opacity: 0;
}

.animated-text {
  transition: 0.3s linear;
}

/* ---------------------- MEDIA QUERIES --------------------- */
@media only screen and (min-width: 1530px) {
  html {
    font-size: 88%;
  }

  .section-description {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 52%;
  }

  #header nav a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 45%;
  }

  #products .card-description,
  #contact p {
    font-size: 16px;
  }

  #products .card-photo img:first-child {
    height: 24rem;
  }

  #products .card-description {
    margin-top: -3rem;
  }

  #contact .content-container {
    flex-direction: column;
  }

  #contact .left-side,
  #contact .right-side {
    flex: 1;
    padding: 0 5%;
    min-height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #contact p {
    max-width: 100%;
  }

  #contact button {
    align-self: center;
    margin-bottom: 3rem;
  }

  #contact .logo-circle {
    width: 12rem;
    height: 12rem;
  }

  #contact .logo {
    width: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  #header {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }

  #header .nav {
    position: fixed;
    top: 8rem;
    left: 0;
    height: calc(100vh - 8rem);
    width: 40rem;
    background-color: #ffffff;
    flex-direction: column;
    align-items: start;
    padding-top: 5rem;
    padding-left: 5%;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: 0.4s linear;
  }

  #header .nav ul {
    flex: 0;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  #header .nav a {
    font-size: 20px;
  }

  #header .nav a.active {
    color: #000;
  }

  #header .hamburger {
    display: block;
  }

  #products .tab {
    font-size: 12px;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 40%;
  }

  #header .company-logo {
    width: 32%;
  }

  #hero .green-circle,
  #hero .blur-cirle-left,
  #hero .triangle-black {
    display: none;
  }

  #team .heading {
    text-align: center;
  }

  #team .description {
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;
  }

  #products .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #features .feature-heading {
    font-size: 16px;
  }

  #features .feature-description {
    line-height: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .section-heading {
    font-size: 4rem;
  }

  #hero .heading {
    font-size: 4.5rem;
    justify-content: center;
  }

  #products .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #products .card-description {
    margin-top: 0rem;
  }

  #contact .left-side,
  #contact .right-side {
    min-height: 55rem;
  }

  #footer .bottom-container {
    justify-content: center;
  }

  #footer .bottom-container nav {
    order: -1;
  }
}
